<launch>

  <node pkg="mapviz" type="mapviz" name="mapviz"></node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/odom"/>
    <param name="local_xy_origin" value="auto"/>
    <remap from="fix" to="/ublox/fix"/>
    <param name="local_xy_navsatfix_topic" value="/ublox/fix"/>
  </node>

  <!-- <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  /> -->
</launch>
